$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.parent-table {
  th {
    width: 14.28%;
  }
}

.parents-table {
  th {
    width: 11.11%;
  }
}