<div class="row">
    <div class="col-md-2">选择试剂盒</div>
    <div class="col-md-2">
        <select>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
    </div>
    <div class="col-md-2">新建一个试剂盒</div>
    <div class="col-md-2"><input type="text"/></div>
    <div class="col-md-2"><input type="button" value="保存"/></div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2">
        <table>
            <thead>
            <th>D8S1179</th>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>0.000012</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <table>
            <thead>
            <th>D8S1179</th>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>0.000012</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <table>
            <thead>
            <th>D8S1179</th>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>0.000012</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <table>
            <thead>
            <th>D8S1179</th>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>0.000012</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <table>
            <thead>
            <th>D8S1179</th>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>0.000012</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <table>
            <thead>
            <th>D8S1179</th>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>0.000012</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2">选择基因座</div>
    <div class="col-md-2">
        <select>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
    </div>
    <div class="col-md-2">新建一个基因座</div>
    <div class="col-md-2"><input type="text"/></div>
    <div class="col-md-2"><input type="button" value="保存"/></div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
            <th>D8S1179</th>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>0.000012</td>
                <td><input type="button" value="删除"></td>
            </tr>
            <tr>
                <td>1</td>
                <td>0.000012</td>
            </tr>
            <tr>
                <td>1</td>
                <td>0.000012</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2">添加新的等位基因</div>
    <div class="col-md-2"><input type="text"/></div>
    <div class="col-md-1">概率</div>
    <div class="col-md-2"><input type="text"/></div>
    <div class="col-md-2"><input type="button" value="保存"/></div>
    <div class="col-md-6"></div>
</div>