<div ng-controller="oneParentController">
    <br>

    <div>
        <form class="form-inline">
            <div class="form-group">
                <label class="text-danger">试剂盒:</label>
                <select ng-model="kit" ng-options="kit as kit.name for kit in kits" ng-change="getLoci()"
                        class="form-control">
                    <option value="">--请选择--</option>
                </select>
            </div>
        </form>
    </div>
    <br>

    <div>
        <table class="table table-bordered">
            <thead>
            <th>基因座</th>
            <th>AF1</th>
            <th>AF2</th>
            <th>C1</th>
            <th>C2</th>
            <th>PI</th>
            <th>操作</th>
            </thead>
            <tbody>
            <tr ng-repeat="record in records">
                <td>{{locusName(record.locus)}}</td>
                <td>{{record.af1}}</td>
                <td>{{record.af2}}</td>
                <td>{{record.c1}}</td>
                <td>{{record.c2}}</td>
                <td>{{record.pi}}</td>
                <td>
                    <button class="btn btn-danger btn-sm btn-block" ng-click="remove($index)">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>

    <div>
        <form class="form-inline">
            <div class="form-group">
                <label class="text-success">基因座:</label>
                <select ng-model="newRecord.locus" ng-options="locus.locusId as locus.name for locus in loci"
                        class="form-control">
                    <option value="">--请选择--</option>
                </select>
            </div>
            <div class="form-group">
                <label class="text-primary">AF1:</label>
                <input type="text" ng-model="newRecord.af1" class="form-control">
            </div>
            <div class="form-group">
                <label class="text-primary">AF2:</label>
                <input type="text" ng-model="newRecord.af2" class="form-control">
            </div>
            <div class="form-group">
                <label class="text-primary">C1:</label>
                <input type="text" ng-model="newRecord.c1" class="form-control">
            </div>
            <div class="form-group">
                <label class="text-primary">C2:</label>
                <input type="text" ng-model="newRecord.c2" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-info" ng-click="addRecord()">添加新纪录</button>
            </div>
        </form>
    </div>
    <div class="text-danger">
        {{message}}
    </div>
</div>