<div ng-controller="oneParentController">
    <div>
        <span>试剂盒:</span>
        <select ng-model="kit" ng-options="kit as kit.name for kit in kits" ng-change="getLoci()">
        </select>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
            <th>基因座</th>
            <th>AF1</th>
            <th>AF2</th>
            <th>C1</th>
            <th>C2</th>
            <th>PI</th>
            <th>操作</th>
            </thead>
            <tbody>
            <tr ng-repeat="locus in locuses">
                <td>{{locus.code}}</td>
                <td>{{locus.af1}}</td>
                <td>{{locus.af2}}</td>
                <td>{{locus.c1}}</td>
                <td>{{locus.c2}}</td>
                <td>{{locus.pi}}</td>
                <td><input type="button" ng-click="remove($index)" value="删除"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <select ng-model="locus" ng-options="locus as locus.name for locus in loci"></select>
        <input type="text" ng-model="af1">
        <input type="text" ng-model="af2">
        <input type="text" ng-model="c1">
        <input type="text" ng-model="c2">
        <input type="button" value="添加" ng-click="add()">
    </div>
    <div>
        <div>Json Debug</div>
        <pre>{{kit | json}}</pre>
        <pre>{{locus | json}}</pre>
    </div>
</div>